/* 페이드인 효과 */
.fade-in {
  animation: fadeIn 0.3s ease-in forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* 본문 폰트 */
@font-face {
    /* 300 */
    font-family: 'NanumSquareNeoLight';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf) format("truetype");
}

@font-face {
    /* 400 */
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumSquareNeoBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf) format("truetype");
}

@font-face {
    /* 700 */
    font-family: 'NanumSquareNeoExtraBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.ttf) format("truetype");
}

@font-face {
    /* 800 */
    font-family: 'NanumSquareNeoHeavy';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.ttf) format("truetype");
}

@font-face {
    /* 900 */
    font-family: 'NanumSquareNeoVariable';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.ttf) format("truetype");
}

/* 배경 이미지 */
.backstyle {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    /* 가운데 정렬 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* 로고 */
.logo {
    width: 364px;
    height: auto;
    cursor: pointer;
}

/* 로그인 디자인 */
.box {
    width: 364px;
    /* height: 307px; */
    background-color: #FAF9F7;
    box-shadow: 2px 2px 15px #0000001a;
    display: inline-flex;
    flex-direction: column;
    padding: 25px;
    font-family: 'NanumSquareNeo', sans-serif;
    border-radius: 10px;
}

.inputs {
    margin-bottom: 10px;
}

.loginbtn {
    height: 35px;
    background-color: #2E5077;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.qbox {
    text-align: center;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.qbox .searchUserInfo {
    margin-bottom: 0;
    padding-bottom: 20px;
    color: #7D8A8A;
    cursor: pointer;
    font-family: 'NanumSquareNeo', sans-serif;
    text-decoration: none;
}
.qbox .searchUserInfo:hover {
    color: #2E5077;
    font-size: 1.05em;
    font-family: 'NanumSquareNeoBold', sans-serif;
}

.qbox button {
    background-color: white;
    border: 1px solid #7D8A8A;
    border-radius: 5px;
    width: 123px;
    height: 35px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 0;
}

/* 회원가입 디자인 */
.joinTitle {
    font-size: 1.8em;
    font-family: 'NanumSquareNeoExtraBold', sans-serif;
    color: #4DA1A9;
    margin-bottom: 0;
}

.box2 {
    width: 364px;
    /* height: 307px; */
    background-color: #FAF9F7;
    box-shadow: 2px 2px 15px #0000001a;
    display: inline-flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 10px;
}

.box2 label {
    width: 95%;
    margin-top: 10px;
    font-size: 14px;
    font-family: 'NanumSquareNeoExtraBold', sans-serif;
    color: #4DA1A9;
}

.box2 input {
    margin: 5px;
}
.box2 input::placeholder {
    font-size: 0.8em;
    font-family: 'NanumSquareNeo', sans-serif;
    color: #d9d9d9;
    margin-left: 5px;
}

.box2 textarea {
    font-size: 0.8em;
    margin: 5px;
    height: 100px;
    resize: none;
}
.box2 textarea::placeholder {
    font-family: 'NanumSquareNeo', sans-serif;
    color: #d9d9d9;
    padding-top: 35px;
}

.check {
    margin: 5px;
    margin-right: 15px;
}
.check .failed {
    color: red;
}
.check button {
    float: right;
}

/* SubCode 부분 */
.subcodebox {
    width: 364px;
    height: 307px;
    background-color: #FAF9F7;
    box-shadow: 2px 2px 15px #0000001a;
    display: inline-flex;
    flex-direction: column;
    padding: 40px 25px 40px 25px;
    font-family: 'NanumSquareNeo', sans-serif;
    border-radius: 10px;
}
.subcodebox input {
    height: 100px;
    text-align: center;
    letter-spacing: 15px;
}
.subCodeFail {
    margin-top: 10px;
    color: red;
    text-align: center;
}

/* Sub계정(강사, 부모) 설정 */
.subjoinbox {
    width: 364px;
    /* height: 307px; */
    background-color: #FAF9F7;
    box-shadow: 2px 2px 15px #0000001a;
    display: inline-flex;
    flex-direction: column;
    padding: 25px;
    font-family: 'NanumSquareNeo', sans-serif;
    border-radius: 10px;
}
.subjoinbox form {
    margin-top: 25px;
}
.subjoinbox input {
    margin: 0 0 10px 0;
}