.subContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* 공통 타이틀 스타일 */
.title {
    flex-shrink: 0; /* 공간이 부족할 때에도 원래 크기 유지 */
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: #4DA1A9;
    margin: 5px;
}

.subContainer2 {
    display: flex;
    flex-direction: column; /* Flex 컨테이너 내부 정렬 방향 */
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'NanumSquareNeoBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf) format("truetype");
}
.subTitle {
    overflow-y: auto;
    flex-shrink: 0;
    height: 65px;
    text-align: center;
    line-height: 61px;
    margin-bottom: 5px;
    border-radius: 10px 10px 0 0;
    background-color: white;
}

.subTitle span {
    font-family: 'NanumSquareNeoBold' sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #7D8A8A;
}

/* 폼 내용 (스크롤 가능) */
.subContent {
    flex-grow: 1;
    overflow-y: auto;
    border-radius:  0 0 10px 10px;
    text-align: center;
    background-color: white;
}

.subContent form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding: 30px 5% 5% 5%;/* top R bottom L */
    text-align: left;
}

.subgroup {
    display: flex;
    align-items: center;
    gap: 4%;
    width: 100%;
}

.subgroup span {
    font-weight: 500;
    font-size: 19px;
    color: #7D8A8A;
}

.calendar-wrapper { /* 캘린더 아이콘과 input의 간격 조절 */
  display: flex;
  align-items: center;
  gap: 15px;
  width: 40%;
}

.subgroup input {
    background-color: #F6F4F0;
}

.subgroup i {
    color: #757575;
    font-size: 25px;
    cursor: pointer;
}

.subRadioBox label {
    margin-right: 20px;
    color: #2E5077;
}

.bi-calendar4 {
  opacity: 0.6; /* 캘린더 아이콘 투명도 조정 */
  transition: opacity 0.2s ease;
}

/* 코드 등록 버튼 */
.codebtn {
    height: 35px;
    background-color: #2E5077;
    margin-top: 5%;
    margin-bottom: 10px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    width: 200px;
}

.subCodeFail {
    font-family: 'NanumSquareNeoBold', sans-serif;
    color: red;
    text-align: center;
}