.attendContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* 공통 타이틀 스타일 */
.attendTitle {
    flex-shrink: 0; /* 공간이 부족할 때에도 원래 크기 유지 */
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: #4DA1A9;
    margin: 5px;
}

/* 왼쪽 영역 =============================================== */
.leftContainer {
    display: flex;
    flex-direction: column; /* Flex 컨테이너 내부 정렬 방향 */
    width: 40%;
    height: 100%;
}

/* 오늘의 출석 영역 */
.todayAttendTitle {
    overflow-y: auto;
    flex-shrink: 0;
    overflow: hidden;
    height: 70px;
    text-align: center;
    line-height: 67px;
    margin-bottom: 5px;
    border-radius: 10px 10px 0 0;
    background-color: white;
}

/* 지금 수업은 ~입니다. */
.todayAttendTitle span {
    font-weight: 700;
    font-size: 22px;
    color: #7D8A8A;
}

/* 출석 내용 (스크롤 가능) */
.todayAttendContent {
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 45px;
    border-radius:  0 0 10px 10px;
    text-align: center;
    background-color: white;
}

/* 출석 버튼 */
.attendButton {
    width: 161px;
    height: 65px;
    margin-top: 20px;
    margin-bottom: 45px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    background-color: #79D7BE;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* 출석 종료 버튼 */
.attendButton.end {
    background-color: white;
    border: 2px solid #D85858;
    color: #D85858;
}

/* 반복 처리 리스트 */
.studentList {
    width: 120px;
    height: 125px;
    margin: 60px auto; /* 중앙 정렬 */
    text-align: center;
    border-radius: 10px;
    border: 1px solid #7D8A8A;
}



/* 오른쪽 영역 =============================================== */
.rightContainer {
    width: 60%;
    height: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
}

/* 우리 반 누적 출석률 */
.stackAttend {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 280px;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    gap: 50px;
    background-image: url(../image/stackAttend.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

/* 반 누적 출석률 그래프 */
.attendGraph {
    width: 25%;
    height: auto;
    border: 1px solid black;
}

/* 우리 반 누적 출석률은 ~%!*/
.attendClass {
    display: block;
    width: 60%;
    padding-top: 2px;
}

.attenderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;   
    height: 70%;
    margin-top: 20px;
    gap: 25px;
    
}

/* 이번 달 출석왕&분발왕 div */
.attender {
    width: 50%;
    height: auto;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px 13px #7c8a8a40;
}

.attenderTitle {
    color: #7D8A8A;
    font-size: 22px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 10px;
}

.attenderName {
    color: #79D7BE;
    font-size: 30px;
    font-weight: 800;
}


/* 지난 출석 */
.historyAttend {
    width: 100%;
    height: 70%;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

/* 반복 처리 리스트 */
.historyList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 30px;
}

.historyList > div {
  display: flex;
  align-items: center; /* 세로 가운데 정렬 */
}

.historyCount {
    font-size: 17px;
}

/* > 상세보기 이동 아이콘 */
.bi-chevron-right {
    cursor: pointer;
    color: #7D8A8A;
    font-size: 23px;
    opacity: 0.7;
}

.bi-chevron-right:hover {
    opacity: 1;
}   