.paymentManagementContainer {
    display: flex;
    justify-content: space-between; /* 좌우 양끝 위치 */
    align-items: flex-start;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.leftContainer {
    width: 52%; 
    height: 100%;
}

.leftContainer .title {
    font-weight: 800;
}

.leftContainer .ellipse {
    background-color: #d9d9d9;
    border-radius: 34px;
    height: 68px;
    width: 68px;
}

.leftContainer .classMenu {
    border-collapse: separate; /* 각 tr 간에 간격 부여하기 위해 분리 */
    border-spacing: 0 10px; /* 각 tr 간에 간격 부여 */
}

/* classMenu 테이블의 모든 테두리 없애기 */
.classMenu,
.classMenu th,
.classMenu td {
    border: none !important;
    /* 혹시 border 스타일이 상속되거나 다른 곳에서 지정되어 있을 때를 대비해 !important 사용 */
    box-shadow: none; /* 혹시 그림자 효과가 있을 경우도 제거 */
}

.rightContainer {
    width: 60%;
    height: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: column; /* 결제 관리 바로 아래에 열처럼 추가 */
    align-items: flex-end; /* 오른쪽 정렬 */
}

.title {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: #4DA1A9;
    margin: 5px;
}

/* 전체 수업 읽어오기 */
.classRead {
    height: 100%;
    background-color: white; 
    border-radius: 10px;
}

.tuitionUpdate {
    margin-top: 55px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    margin-bottom: 20px;
    background-color: white; 
    border-radius: 10px;
    text-align: center;
}

.insertClass {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 70%;
    background-color: white; 
    text-align: center;
    border-radius: 10px;
}

.insertClass .insertButton {
    width: 90%;
}

.insert-label {
    font-size: 22px;
}

.rightContainer .title {
    font-weight: 800;
}

.rightContainer .insert-input {
    background-color: #f6f4f0;
    border-radius: 10px;
    border-width: 0;
}